.container{
    margin-bottom: 100px;
}

.banner{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price, .center-header{
    color: deeppink;
}

.custom-button{
    background-image: linear-gradient(45deg, rgb(212, 85, 153), deeppink);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

.cat1, .cat2, .cat3{
    color: white;
    border-radius: 10px;
    font-size: 100px;
    padding: 10px 20px;
}

.cat1 img, .cat2 img, .cat3 img{
    width: 100px;
}

.cat1{
    background-image: linear-gradient(45deg, rgb(197, 165, 105), orange);
}

.cat2{
    background-image: linear-gradient(45deg, rgb(190, 105, 151), deeppink);
}

.cat3{
    background-image: linear-gradient(45deg, rgb(104, 104, 204), blue);
}

.card-footer{
    background-color: white !important;
    border-top: none !important;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card:hover{
    box-shadow: 10px 10px 20px gray;
}

.center-header{
    text-align: center;
}

.horizontal-row{
    border: 2px solid deeppink;
    margin-bottom: 100px;
    width: 50%;
}

.link, .link:hover{
    text-decoration: none;
    color: white;
}

.contact{
    height: 300px;
    background-color: #fceae8;
    border-radius: 10px;
}

.contact p{
    color: gray;
}

.copyright p{
    text-align: center;
}

.sign-in-box{
    background-color: #fceae8;
    height: 500px;
    border-radius: 10px;
}

.sign-up-box{
    background-color: #fceae8;
    height: 500px;
    border-radius: 10px;
}